@font-face {
    font-family: 'Roboto Condensed';
    src: url(../fonts/roboto-condensed/RobotoCondensed-Regular.ttf);
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url(../fonts/roboto-condensed/RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url(../fonts/roboto-condensed/RobotoCondensed-BoldItalic.ttf);
}