html{
    background-color: green;
}
body{    
    background-color: blue;  
    max-width: 1325px; 
    margin: 0 auto; 
}

nav{
    top: 0;    
    height: 100px;
    width: 100%;
    background-color: grey;
    display: inline-block;       
}

main{    
    margin-top: 20px;
    width: 20%;
    background-color: aquamarine;
}

footer{
    border-top: 3px solid black;
    background-color: blueviolet;
    height: 100px;
}

