

nav{
    top: 0;    
    height: 100px;
    background-color: red;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.date{
    font: "RobotoCondensed-Regular";
    color: white;
}

html{
    background-color: green;
}
body{    
    background-color: blue;
    margin-left: 2%;
    margin-right: 2%;
}
main{    
    margin-top: 50px;
    width: 20%
}